<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorocaba.tech</title>
    <link rel="stylesheet" href="public/index.css">
</head>
<body class="bg-[#e4e9ed]">
    <div class="max-w-xl mx-auto">
        <div class="flex flex-col gap-8 py-16 px-4">
            <ul class="flex justify-center gap-5">
                {{#each socials}}
                    <li class="">
                        {{#if this.isWhatsApp}}
                            <a class="text-3xl text-[#0027d0]" href="https://api.whatsapp.com/send?phone={{this.value}}" target="_blank" rel="noopener">
                                {{> whatsAppIcon width=32 height=32}}
                            </a>
                        {{/if}}
                        {{#if this.isInstagram}}
                            <a class="text-3xl text-[#0027d0]" href="https://instagram.com/{{this.value}}" target="_blank" rel="noopener">
                                {{> instagramIcon width=32 height=32}}
                            </a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            <ul class="flex flex-col gap-4">
                {{#each links}}
                    <li class="bg-white rounded-3xl">
                        <a class="block py-5 px-11 text-base text-center text-[#0027d0]" href="{{this.url}}" target="_blank" rel="noopener">
                            {{this.name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>