<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorocaba.tech</title>
</head>
<body>
    <p>{{ message }}</p>
</body>
</html>