<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorocaba.tech</title>
    <link rel="stylesheet" href="public/index.css">
</head>
<body class="bg-[#e4e9ed]">
    {{#each links}}
        <p>{{this.name}}</p>
    {{/each}}
</body>
</html>